{% extends 'base.html' %}
{% block title %}Online Note{% endblock %}
{% load django_bootstrap5 %}
{% block content %}
<div class="d-flex">
  <aside class="d-flex flex-column w-25 ms-5 mt-3">
      {% include 'includes/filter_panel.html' %}
      {% include 'includes/note_list.html' %}
  </aside>
  <div class="d-flex flex-column ms-5 flex-grow-1 me-5 mt-3 gap-3">
    <div class="d-flex justify-content-end">
      <button id="create_new" data-form="#note_form" class="btn btn-primary" type="button">Create New</button>
    </div>
    <form id="note_form" class="d-flex flex-column flex-fill gap-3" data-create-url="{% url 'create_note' %}" action="{% url 'create_note' %}" method="post">
      {% csrf_token %}
      <div class="d-flex flex-row gap-3">
        <div class="input-group">
          <span class="input-group-text" id="sort_by_category">Category:</span>
          {% bootstrap_field filter_form.category show_label='skip' wrapper_class='flex-fill' %}
        </div>
      </div>

      {% bootstrap_field note_create_form.title show_label=False %}
      {% bootstrap_field note_create_form.text show_label=False  field_class='h-100' wrapper_class='h-100' %}

      <div class="d-flex justify-content-center">
        <button id="submit_btn" type="submit" class="btn btn-primary">Save</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}
