<div id="note_list" class="text-sm">
  <h6>Note List:</h6>
  <div class="border border-top border-2 mb-1"></div>
  <div class="overflow-auto d-flex flex-column flex-column-reverse gap-3" style="max-height: 620px;">

    <div class="card">
      <div class="card-body">
        <p class="card-subtitle">Category: Empty</p>
        <p class="card-subtitle">Name: Name #1</p>
        <p class="card-subtitle">Date: 25.04.24</p>
      </div>
        <div class="card-footer d-flex justify-content-end gap-2">
          <button class="btn btn-outline-secondary btn-sm" type="button">E</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">A</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">X</button>
        </div>
    </div>

    <div class="card">
      <div class="card-body text-primary">
        <p class="card-subtitle">Category: Category #1</p>
        <p class="card-subtitle">Name: Name #2</p>
        <p class="card-subtitle">Date: 27.04.24</p>
      </div>
        <div class="card-footer d-flex justify-content-end gap-2">
          <button class="btn btn-outline-secondary btn-sm" type="button">E</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">A</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">X</button>
        </div>
    </div>

    <div class="card">
      <div class="card-body text-warning">
        <p class="card-subtitle">Category: Category #3</p>
        <p class="card-subtitle">Name: Name #3</p>
        <p class="card-subtitle">Date: 30.04.24</p>
      </div>
        <div class="card-footer d-flex justify-content-end gap-2">
          <button class="btn btn-outline-secondary btn-sm" type="button">E</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">A</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">X</button>
        </div>
    </div>

    <div class="card">
      <div class="card-body text-success">
        <p class="card-subtitle">Category: Category #2</p>
        <p class="card-subtitle">Name: Name #4</p>
        <p class="card-subtitle">Date: 30.04.24</p>
      </div>
        <div class="card-footer d-flex justify-content-end gap-2">
          <button class="btn btn-outline-secondary btn-sm" type="button">E</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">A</button>
          <button class="btn btn-outline-secondary btn-sm" type="button">X</button>
        </div>
    </div>

  </div>
  <div class="border border-top border-2 mt-1"></div>
</div>